<% if @tasks.empty? %>
  <p>No tasks available.</p>
<% else %>
<%= form_with url: tasks_path, method: :get, local: true do %>
  <%= select_tag :status, options_for_select(['pending', 'completed', 'in_progress'], params[:status]), include_blank: "All Statuses" %>
  <%= submit_tag 'Filter' %>
  <%= select_tag :sort_by, options_for_select([['Sort by Date Created', 'created_at'], ['Sort by Last Updated', 'updated_at']], params[:sort_by]), include_blank: "Select Sort Order" %>
  <%= submit_tag 'Sort' %>
<% end %>


<ul>
  <% @tasks.each do |task| %>
    <li><%= task.name %> - <%= task.status %></li>
  <% end %>
</ul>

<% end %>

<%= link_to 'Create New Task', new_task_path %>
