<p> <%= @task.name %> </p>
<%= @task.description %>
<%= @task.status %>
<%= link_to 'Edit Task', edit_task_path %>

<%= button_to 'Delete Task', task_path(@task), method: :delete, data: { turbo: false, confirm: 'Are you sure you want to delete this task?' }, class: 'delete-button' %>

<%= link_to 'All Tasks', tasks_path %>

